@{
    ViewBag.Title = "JavaScript";
}

<h1>TypeScript HTML App</h1>

<div class="items">
    <div class="item" data-price="2500">Товар1</div>
    <div class="item" data-price="2000">Товар2</div>
    <div class="item" data-price="1500">Товар3</div>
    <div class="item" data-price="5000">Товар4</div>
</div>
<div class="res">0</div>
<div class="value">0</div>